.student {
  border: 1px solid purple;
  border-radius: 10px;

}

.student p {
    margin: 5px;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}


.employee-button {
    width: 150px;
    height: 25px;
    font-size: 15px;
    font-weight: bold;
    margin: 5px 5px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.counter-container {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    border: 1px solid purple;
    border-radius: 10px;
    
}

.count-display {
    font-size: 2em;
    
}

.counter-button {
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px 5px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.counter-button:hover {
background-color: "green";
}


.window {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    border: 1px solid purple;
    border-radius: 10px;

}

.box {
    border: 3px solid black;
    padding: 25px;

}