.App {
  text-align: center;
}

.students {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid purple;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  


}